* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(239,222,193);
    color: rgb(61,59,56);
    font-family: 'Rajdhani', sans-serif;
}

input,textarea {
    font-family: 'Rajdhani', sans-serif;
}

#wrapper {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

#top {
    position: absolute;
    right: 0;
    top: 0;
}

#timer {
    font-size: 120px;
    color: rgba(100, 100, 100, .3);

    width: 800px;
    height: 140px;
    margin: 40px auto;
    position: relative;
}

#timer #run {
    width: 205px;
    position: absolute;
    top:0;
    left: 80px;
    line-height: 1;
}


#timer #run.active {
    color: rgb(145,119,68);
}

#timer #clock {
    position: absolute;
    left: 300px;
    top: 0;
    font-size: 160px;
    color: rgb(162,78,4);
    line-height: 1;
}

.clearfix {
    clear: both;
}

input {
    font-size: 24px;
}

button {
    font-family: Rajdhani, sans-serif;
    background: none;
    font-size: 30px;
    color: #b51130;
    background: transparent;
    border: 2px solid #b51130;
    outline: none;
    cursor: pointer;
    padding: 8px 16px 8px 8px;
    font-weight: bolder;
}

button:hover {
    background: #b51130;
    color: #fff;
}

